body {
    background: #fff;
}

nav {
    margin-top: 25px;
}

nav ul {
    float: right;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
}

section hr {
    border-bottom: 1px solid #eee;
    height: 0;
}

#logo h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 2.4em;
}